.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: "trebuchet ms", verdana, arial;
  font-family: var(--mermaid-font-family);
  font-size: 12px;
  background: #61dafb;
  border: 1px solid #000000;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}
