site_name: Trustworthy and Ethical Assurance Platform
site_url: https://alan-turing-institute.github.io/AssurancePlatform
site_description: >-
  Documentation to support the use of the Trustworthy and Ethical Assurance
  Methodology and Platform

repo_name: alan-turing-institute/AssurancePlatform
repo_url: https://github.com/alan-turing-institute/AssurancePlatform
# edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2023 Alan Turing Institute

# Configuration
theme:
  name: material
  # custom_dir: overrides

  # Static files
  static_templates:
    - 404.html

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    # - content.tabs.link
    # - header.autohide
    - navigation.expand
    - navigation.indexes
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    scheme: default

  font:
    text: Roboto
    code: Roboto Mono
  # favicon: assets/logo.png
  icon:
    logo: material/vector-circle
    admonition:
      bug: octicons/database-16

# Plugins
plugins:
  - search
  - table-reader
  - tags

# Customization

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets

# extra_javascript:
#   - javascripts/mathjax.js
#   - https://polyfill.io/v3/polyfill.min.js?features=es6
#   - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
#   - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
#   - javascripts/tablesort.js

# extra_css:
#   - stylesheets/extra.css

# Page tree

nav:
  - Home: index.md
  - About: about.md
  - Introductory Resources:
      - About this Section: introductory-resources/index.md
      - What is Trustworthy and Ethical Assurance: introductory-resources/what-is-tea.md
      - The Assurance Ecosystem: introductory-resources/assurance-ecosystem.md
      - An Introduction to Argument-Based Assurance: introductory-resources/argument-based-assurance.md
      - Open Challenges in Trustworthy and Ethical Assurance: introductory-resources/open-challenges.md
  - User Guidance:
      - About this Section: guidance/index.md
      - Components of an Assurance Case: guidance/components.md
      - Operationalising Ethical Principles: guidance/operationalising-ethics.md
      - TEA and the Project Lifecycle: guidance/tea-project-lifecycle.md
      - The Role of Standards in TEA: guidance/standards.md
      - A Case Study: guidance/case-study.md
  - Platform Details:
      - About: platform-details/about.md
      - Installation Instructions: platform-details/installation.md
      - API Documentation: platform-details/api.md
      - Azure Deployment: platform-details/azure.md
      - GitHub OAuth: platform-details/github.md
      - Resetting the Database: platform-details/resetting-database.md
