CairoSVG>=2.5.2
mkdocs-glightbox>=0.2.0
mkdocs-material>=9.1.14
mkdocs-rss-plugin>=1.8.0
mkdocs-table-reader-plugin>=2.0.1
mkdocs-include-markdown-plugin>=6.0.4
# Requirements for additional plugins
pillow>=9.2.0
