* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#main {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden; /* Prevent scroll on the root div */
}

body {
  background-color: rgb(247, 247, 247);
}