/* Reset some default styling and ensure full height is used */
html,
body,
#main {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden; /* Prevent scroll on the root div */
}

#main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Grommet specific overrides for a modern look */
.grommet {
  font-size: 1rem;
}

/* Full height container */
.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Main content with flex grow to fill available space */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow-y: auto; /* Enable content scrolling */
  padding: 1rem;
}

/* Box Shadows for depth */
.box-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation styles */
.navigation {
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 0px 0; /* Reduced padding to make the navbar shorter */
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.footer a {
  color: #6fffb0;
  text-decoration: none;
}

/* Button styles */
.button {
  background-color: #6fffb0;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #7d4cdb;
  color: white;
}

/* Responsive Typography */
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/* Utility classes for spacing */
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.wip-banner {
  position: relative;
  /* existing styles */
}

.dismiss-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.grommet-menu-label {
  color: white !important; /* Use !important to override any existing color styles */
}

.grommet-menu-item__label {
  color: white !important;
}
/* This will reduce the vertical padding of the navbar, making it shorter */
.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* If you have specific height requirements, you can uncomment and adjust the following */
.navbar {
  height: 0; /* Adjust as needed */
}

/* This will adjust the brand link to align it vertically in the shortened navbar */
.navbar-brand {
  line-height: 40px; /* Adjust to navbar height if using a specific height */
  margin-right: 20px; /* Optional: to provide some space after the brand */
}

/* To ensure that the anchor tags fit well, you may want to adjust their line height as well */
.navigation a {
  line-height: 1.5; /* Adjust according to your design */
}

/* Further adjustments might be needed for other elements like dropdowns, selectors, etc. */
