name: frontend-docker

on:
  push:
    branches: [main, dev]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: actions/checkout@v3
      - name: 'Build main'
        if: ${{ github.ref == 'refs/heads/main' }}
        working-directory: frontend
        run: |
          docker build -t turingassuranceplatform/eap_frontend:main --build-arg BASE_URL="https://turing-assuranceplatform-backend.azurewebsites.net/api" -f Dockerfile .
          docker push turingassuranceplatform/eap_frontend:main
      - name: 'Build dev'
        if: ${{ github.ref == 'refs/heads/dev' }}
        working-directory: frontend
        run: |
          docker build -t turingassuranceplatform/eap_frontend:dev --build-arg BASE_URL="https://turing-assuranceplatform-backend-dev.azurewebsites.net/api" -f Dockerfile .
          docker push turingassuranceplatform/eap_frontend:dev
